		    <div onclick="location.href='./{{{SLUG}}}/index.html';">
			<div>
			    <span>[{{{TAG}}}] -- </span>
			    <span><b>{{{TITLE}}}</b></span>
			    <span>-- {{{DATE}}}</span>
			</div>
		    </div>
